.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .friend-info {
    display: flex;
    flex-direction: column;
  }
  
  .friend-name {
    font-weight: bold;
    color: black;
  }
  
  .friend-phone {
    font-size: 14px;
    color: #666;
  }
  
  .btn-remove-friend {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  