.group-item {
  background-color: gray;
  cursor: pointer;
  width: 95%;
  height: 80px; 
  margin-top: 5px;
  border: none;
  position: relative; 
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
}

/*  Top and bottom fading borders */
.group-item::before,
.group-item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px; 
  background: linear-gradient(to right, transparent, white 50%, transparent);
}

.group-item::before {
  top: 0;
}

.group-item::after {
  bottom: 0;
}

.group-item:hover {
  background-color: lightcyan;
}

.group-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.group-name {
  color: black;
  font-size: 18px;
  font-weight: bold;
  max-width: 60%;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: left;
}

.group-date {
  color: black;
  font-size: medium;
  text-align: right;
  min-width: 20%;
}

.group-description {
  color: black;
  font-size: 14px;
  margin-top: 3px;
}

@media (max-width: 1200px) {
  .group-info {
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
  }

  .group-name {
    max-width: 70%;
  }

  .group-date {
    text-align: right;
    min-width: 25%;
  }
}
